.custom-list-books-title {
  padding: 10px 0;
  background: linear-gradient(#2e7c31, #8bad67);
  text-align: center;
}

.custom-list-books {
  background-color: #fffff0;
}

.custom-list-books-title {
  text-shadow: 1px 1px 2px #2b462c;
}

.custom-shelf-title {
  text-shadow: 1px 1px 2px #bbb;
}

.no-book {
  font-size: 1.2em;
  font-weight: bold;
  color: #aaa;
}

.custom-search-books-result {
  background-color: #fffff0;
}

@media screen and  (min-width: 350px) and (max-width: 760px) {
  .list-books-title h1 {
    font-size: 28px;
  }

  .custom-shelf-title {
    font-size: 20px;
  }

  .book-top {
    width: 108px;
    height: 160px;
  }
}

@media screen and  (max-width: 350px) {
  .list-books-title h1 {
    font-size: 24px;
  }

  .custom-shelf-title {
    font-size: 17px;
  }

  .book-top {
    width: 84px;
    height: 128px;
  }
}
