.search-books-bar input {
  width: 90%;
}

.custom-search-books-input-wrapper {
  flex: 1;
  background: #fff;
}

.custom-search-clear {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('./icons/cancel.svg');
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
